:root {
  --tw-bg-opacity: 1;
}

.tableContainer {
  min-width: 440px;
}

.tableHeaders {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  border-left-width: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  border-right-width: 2px;
}

.tableRowTwoColumn {
  border-width: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 132px;
}

.tableRowRestColumn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  border-width: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.tableRowTotalColumn {
  width: 132px;
}

.tableRowTotal {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.tableBoxRow {
  display: flex;
}

.tableBoxRowFooter {
  padding: 0.5rem 1.5rem;
  margin: 1rem -1.5rem 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgb(203 213 225);
}

.noRecordFoundContainer {
  min-width: 440px;
  background-color: rgb(203 213 225);
}

.editIcon:hover {
  filter: invert(55%) sepia(100%) saturate(3.5);
}

.deleteIcon:hover {
  filter: invert(55%) sepia(100%) saturate(3.5);
}